*{
    margin: 0;
}
body{
    font-family: Arial;
    background-color: #BEC7C7;
}
nav ul{
    list-style-type: none;

}
nav li{
    line-height: 2.5em;
}
nav a{
    color: black;
    display: block;
    padding: 0 2.5em;
}
nav a:hover{
    background: yellow;
}
nav>ul{
    background-color: red ;
    width: 100%;
}
nav>ul>li{
    float: left;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 3.5em;
    color: Red;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  }

  .home-cards img {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }

  .home-cards h3 {
    margin-bottom: 5px;
    text-align: center;
  }
footer{
	align-self: flex-end;
	background-color:  black;
	color: white;
	line-height: 3;
	text-align: center;
	width: 100%;
}
