*{
    margin: 0;
}
body{
    font-family: Arial;
    background-color: #BEC7C7;
}
nav ul{
    list-style-type: none;

}
nav li{
    line-height: 2.5em;
}
nav a{
    color: black;
    display: block;
    padding: 0 2.5em;
}
nav a:hover{
    background: yellow;
}
nav>ul{
    background-color: red ;
    width: 100%;
}
nav>ul>li{
    float: left;
}
footer{
	align-self: flex-end;
	background-color:  black;
	color: white;
	line-height: 3;
	text-align: center;
	width: 100%;
}